<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/admin_layout}">
<head>
<meta charset="UTF-8">
<title>In progress</title>

</head>
<body>


	<div layout:fragment="content">
		<div class="container">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Progress page</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">User Profile</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<div class="card"  style="background-image: url('/img/imaprogr.gif'); height: 100vh; background-size: cover; background-repeat: no-repeat;">
             
				<div class="row justify-content-center" style="margin-top:460px; margin-left:100px;">
             <div class="col-sm-6">
							<h4>Sorry we are still working on this...</h4>
						</div>
			</div>
	</div>
		</div>
	</div>
</body>
</html>