<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/admin_layout}">
<head>
<meta charset="UTF-8">
<title>Employee registration form</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="container">


			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Employee </h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#"
									th:href="@{/admin/dashboard}">Home</a></li>
								<li class="breadcrumb-item active"
									th:href="@{/admin/formLists/profileForm}">User Profile</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

	<div class="card">
			
			   <div class="card-header bg-primary">
			
					<h3  class="card-title"><i style="color: black" class="fa fa-list-alt" aria-hidden="true"></i>  Employee evaluation list</h3>
				</div>
				
				
			  <div class="card-body">
			  
			    <div id="myDiv" class="modal-footer justify-content-between">
			  
			    	<a href="#"   th:href="@{/admin/formLists/jobForm}" class="btn btn-success">
										     <i class="fa fa-plus-circle" aria-hidden="true"> Add new</i>
										</a>
				
					  <div class="col-12 col-lg-6">
							
							<nav class="navbar navbar-expand navbar-white navbar-light">
								<!-- Left navbar links -->
								<!-- Right navbar links -->
								<ul class="navbar-nav ml-auto">
									<!-- Navbar Search -->
									<li class="nav-item"><a class="nav-link"
										data-widget="navbar-search" data-target="#navbar-search5"
										href="#" role="button"> <i class="fas fa-search"></i>
									</a>
										<div class="navbar-search-block navbar-search-open"
											id="navbar-search5" style="display: flex;">
											<form class="form-inline"  action="#" 
											       th:action="@{/admin/formLists/templateDisplayList/showJobForm}"  method="get">
												<div class="input-group">
													<input class="form-control"
														type="search" name="keywordj" th:value="${keywordj}"
														placeholder="Search employee by name" aria-label="Search">
													<div class="input-group-append">
														<button class="btn btn-navbar" type="submit">
															<i class="fas fa-search" style="color: navy;"></i>
														</button>
														<button class="btn btn-navbar" type="button"
															data-widget="navbar-search">
															<i class="fas fa-times"></i>
														</button>
													</div>
												</div>
											</form>
										</div></li>

								</ul>
							</nav>
						</div>
						</div>
				
	          <div class="card-body">
								<div class="col-sm-12">
									<table class="table table-sm table-hover" aria-describedby="example1_info">
										<thead class="table table-dark">
											<tr>

												<th>ID</th>
												<th>Emp. full name</th>
												<th>Assessor's full name</th>
												<th>Assessor title</th>
												<th>Review date</th>
												<th>Job performance </th>
												<th>Emp.stands out</th>
												<th>Emp. lags behind</th>
												<th>Emp. need to improve</th>
												<th>Action</th>


											</tr>
										</thead>
											<tr th:each="jobPg : ${jobPage}">
												<td th:text="${jobPg.id}"></td>
												<td th:text="${jobPg.fullName}"></td>
												<td th:text="${jobPg.assessorFullName}"></td>
												<td th:text="${jobPg.assessorTitle}"></td>
												<td th:text="${jobPg.reviewDate}"></td>
												<td th:text="${jobPg.alllever}"></td>
												<td th:text="${jobPg.emplOut}"></td>
												<td th:text="${jobPg.emplRetard}"></td>
												<td th:text="${jobPg.emplNeedImprove}"></td>

												<td>
													<div class="btn-group" role="group"
														aria-label="Basic mixed styles example">
																<div class="btn-group" role="group"
																	aria-label="Basic mixed styles example">
																	<a class="btn btn-warning"
																		th:href="@{/admin/formLists/updateJobForm(id=${jobPg.id})}">
																		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
																	</a> <a
																		th:href="@{/admin/formLists/templateDisplayList/deleteJobForm(id=${jobPg.id}, keywordj=${keywordj},page=${currentPage},size=${size})}"
																		onclick="return confirm('Are sure you want to delete?')"
																		class="btn btn-danger ml-1"> <i class="fa fa-trash"
																		aria-hidden="true"></i></a>

														</div>
													</div>
												</td>
											</tr>


									</table>
								</div>
					
							<div class="row">


								<div class="col-sm-12 col-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item" id="example1_previous"><a
												href="#"
												th:href="@{/admin/formLists/templateDisplayList/showJobForm?page={prev}(prev=${prev})}"
												aria-controls="example1" data-dt-idx="0" tabindex="0"
												class="page-link">Previous</a></li>

											<li th:each="page,status:${pages}"
												class="paginate_button page-item"><a
												th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
												th:href="@{/admin/formLists/templateDisplayList/showJobForm(page=${status.index},keywordj=${keywordj}, size=${size})}"
												th:text="${status.index}"></a></li>


											<li class="paginate_button page-item next" id="example1_next"><a
												href="#"
												th:href="@{/admin/formLists/templateDisplayList/showJobForm?page={next}(next=${next})}"
												aria-controls="example1" data-dt-idx="7" tabindex="0"
												class="page-link">Next</a></li>
										</ul>
									</div>
								</div>

							</div>
		         	</div>

						<!-- /.card-body -->
	
				</div>
			</div>
		</div>
	</div>
</body>
</html>