<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/admin_layout}">
<head>
<meta charset="UTF-8">
<title>input form</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="container">


			<div th:fragment="modal(fileid)" class="modal fade" th:id="fileid"
				tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="accordion" id="accordionExample" style="color: black;">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
						<div class="card-header   bg-primary">
						   <div class="input-group mb-3  justify-content-between">
							 		<span > 
							 		 <i class="fa fa-file-text-o" aria-hidden="true"></i>  File</span>
							 		 
								<a href="#" role="button" class="close" data-dismiss="modal"
									style="margin-left: 5px;" aria-label="Close"> <span
									aria-hidden="true">&times;</span>
								</a>
							</div>
							</div>

							<div class="modal-body">
								<form class="form-horizontal" action="#"
									th:action="@{/admin/items/saveFile}" th:object="${filef}"  enctype="multipart/form-data"
									method="POST">
									
									<div class="form-group">
										<div class="card card-body">

											<div class="card-body">
												<div>
													<div id="collapseOne" class="collapse show"
														aria-labelledby="headingOne"
														data-parent="#accordionExample">

														<div class="form-group row">
															<label class="col-sm-3 col-form-label">Label</label>
															<div class="col-sm-8">
																<input id="label" type="text" class="form-control"
																	th:name="label" th:value="${label}"
																	onKeyPress="edValueKeyPress()"
																	placeholder="Type the label text name" />
															</div>
														</div>

														<div class="form-group row">
															<label class="col-sm-3 col-form-label" for="type">Type</label>
															<div class="col-sm-8">

																<select class="form-control"
																	 th:value="${type}" th:name="type">
																	<option th:value="file" th:text="file"></option>
																	<option th:value="range" th:text="range"></option>
																	
																</select>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">Name</label>
															<div class="col-sm-8">
																<input type="text"  th:value="${name}"
																	class="form-control" name="name"
																	placeholder="This field cannot be empty" />
															</div>
														</div>
														
															<div class="form-group row">
															<label class="col-sm-3 col-form-label">Value</label>
															<div class="col-sm-8">
																<input type="text"  th:value="${value}"
																	class="form-control" name="value"
																	placeholder="This field cannot be empty" />
															</div>
														</div>
														
													</div>
													<div class="modal-footer justify-content-between">
														<button type="button" class="btn btn-default bg-dark"
															data-dismiss="modal">Close</button>
														<button type="submit" name="addRow"
															class="btn btn-primary">
															<i class="fa fa-plus-circle" aria-hidden="true"></i>
															Create
														</button>
													</div>
												</div>
											</div>

										</div>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</body>
</html>